table{
    border: 2px solid black;
    border-collapse: collapse;
    background-color: aqua;
    color:brown;
}
th{
    border: 2px solid black;
}
td{
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}
input{
    width: 20vh;
    height: 3vh;
}
input:valid{
    color:green;
}
input:invalid{
    color: red;
}