#image{
    width: 400px;
    height: 400px;
    transition-property: transform;
    transition-duration: 3s;
}
input{
    background-image: linear-gradient(45deg,black,purple);
    color: aqua;
}
#rotateX:hover~#image{
    transform: rotateX(45deg);
}